datasets==2.20.0
openai==1.50.2
torch==2.4.0
tqdm==4.66.4
transformers==4.44.2
peft==0.12.0
safetensors==0.4.3
wandb==0.17.5
rouge-score==0.1.2
liger_kernel==0.5.10
bitsandbytes==0.44.1
protobuf==5.27.2
tiktoken==0.9.0
sentencepiece==0.2.0
wheel==0.45.1
# flash-attn==2.6.3